<template>
    <!-- Object Type Filters -->
    <lightning-layout>

        <lightning-layout-item size="6">
            <lightning-combobox
                name="pageSize"
                label="Results Per Page"
                value={selectedValue}
                options={pageSizeOptions}
                onchange={handlePageSizeChange} >
            </lightning-combobox>
          </lightning-layout-item>

        <lightning-layout-item size="6">
            <div class="slds-grid slds-grid_vertical slds-size_1-of-2 slds-p-bottom_small">
                <span class="slds-text-title slds-p-bottom_x-small">Toggle Objects</span>
                <span class="slds-text-body_medium slds-truncate" title="">
                    <lightning-button-icon-stateful 
                        icon-name="utility:company" name="account" alternative-text="Toggle Account"
                        selected={accountActive} onclick={handleFilterClick} class="slds-m-horizontal_x-small">
                    </lightning-button-icon-stateful>
                    <lightning-button-icon-stateful 
                        icon-name="utility:people" name="contact" alternative-text="Toggle Contact"
                        selected={contactActive} onclick={handleFilterClick} class="slds-m-horizontal_x-small">
                    </lightning-button-icon-stateful>
                    <lightning-button-icon-stateful 
                        icon-name="utility:case" name="user" alternative-text="Toggle User"
                        selected={userActive} onclick={handleFilterClick} class="slds-m-horizontal_x-small">
                    </lightning-button-icon-stateful>
                </span>
            </div>
        </lightning-layout-item>
    </lightning-layout>
    
</template>