<template>
    <lightning-card>
        <div class="slds-m-around_medium">
            <lightning-input-address
                address-label="Address"
                street-label="Street"
                city-label="City"
                country-label="Country"
                province-label="State/Province"
                postal-code-label="Postal Code"
                country="USA"
                show-address-lookup
                onchange={handleSearchChange}>
            </lightning-input-address>
        </div>

        <template if:true={mapMarkers}>
            <div class="slds-m-around_medium">
                <c-map-header
                    ontogglefilter={handleToggleFilter}
                    onpagesizechange={handlePageSizeChange}
                    onpagechange={handlePageChange}
                    account-active={showAccount}
                    contact-active={showContact}
                    user-active={showUser}>
                </c-map-header>
            </div>
        </template>

        <div class="slds-m-around_medium slds-align_absolute-center">
            <lightning-button variant="brand" label="Search" title="Search" onclick={handleSearch}></lightning-button>
        </div>

        <template if:true={showNoResultMessage}>
            <div class="slds-m-around_medium slds-align_absolute-center slds-text-color_error slds-text-body_regular">
                No results were found near that location. Please try a different location or removing filters.
            </div>
        </template>


        <template if:true={showMap}>
            <div class="slds-m-around_medium">
                <lightning-map
                    zoom-level={zoomLevel}
                    map-markers={displayedMarkers}
                    markers-title="Found Records"
                    list-view="visible">
                </lightning-map>
            </div>
        </template>


        <template if:true={mapMarkers}>
            <div class="slds-text-header_regular slds-align_absolute-center">
                <b>{pageLabel}</b>
            </div>

            <div class="slds-text-header_regular slds-align_absolute-center">
                <lightning-button-icon icon-name="utility:left" alternative-text="Previous Page" title="Previous Page"
                    onclick={handlePageChange} name="previous" disabled={previousDisabled}></lightning-button-icon>
                <lightning-button-icon icon-name="utility:right" alternative-text="Next Page" title="Next Page"
                    onclick={handlePageChange} name="next" disabled={nextDisabled}></lightning-button-icon>
            </div>
        </template>

    </lightning-card>

</template>